<div class="row-fluid">
	<div class="span12">
	<div id="myCarousel" class="carousel slide">
		<ol class="carousel-indicators">
			<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
			<li data-target="#myCarousel" data-slide-to="1"></li>
			<li data-target="#myCarousel" data-slide-to="2"></li>
			<li data-target="#myCarousel" data-slide-to="3"></li>
		</ol>
		<div class="carousel-inner">
		 
		
				<div class="item">
					 <%= image_tag 'images/IMG_1538.jpg' %>
					<div class="carousel-caption">
						<h4>FTS</h4>
						<p>Front Tank Shot - The Rimless Cube</p>
					</div>
				</div>
				<div class="item">
				 <%= image_tag 'images/IMG_1540.jpg' %>
					<div class="carousel-caption">
						<h4>The Fish</h4>
						<p>Clownfish</p>
					</div>
				</div>
		
		
			<div class="item">
			 <%= image_tag 'images/IMG_1545.jpg' %>
				<div class="carousel-caption">
					<h4>"Under the Hood"</h4>
					<p>Inside the heart of the living Reef.</p>
				</div>
			</div>
 
			<div class="item">
				 <%= image_tag 'images/IMG_1542.jpg' %>
				<div class="carousel-caption">
					<h4>Nice Stand</h4>
					<p>Custom built stand.</p>
				</div>
			</div>
		</div>
		<a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
		<a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
	</div>
	</div>
