<% @pictures = @reef_tank.pictures.all %>
<div class="row-fluid ">
	<div class="pull-center">
	<div class="pull-center">
	<div id="myCarousel" class="carousel slide">
		<ol class="carousel-indicators">
		  
			<% @pictures.each.with_index  do |reef_tank, index| %> 
					<% if index == 0 %> 
				<li data-target="#myCarousel" data-slide-to="0" class="active"></li> 
				 <% else %>	
				<li data-target="#myCarousel" data-slide-to="#{index}"></li>
					
				  <% end %>
 					<% end %>
		</ol>
		<div class="carousel-inner">
		 
		
				 
   		 <% @pictures.each.with_index  do |picture, index| %>
		    
   				<% if index == 0 %> 
   	 	<div class="item active">
	 
   			 <% else %>
   			    	<div class="item">
   			  <% end %> 
   		 	<%= image_tag picture.picture_image_url  %>
		 	 
   		<div class="carousel-caption">
   		<h4><%= picture.name  %></h4>
 
   					 </div> 
   				</div>
		  
   			    <% end %>
			
		 
 
			 
		</div>
		<a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
		<a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
	</div>
	</div>
		</div>
