
<!-- Jumbotron -->
     <div class="jumbotron">
       <h1>Reef Sense</h1>
       <p class="lead">Real Time Data, Alarm Notification and continually real time monitoring </p>
       <a class="btn btn-large btn-success" href="#">Sign Up</a>
       <p class="lead">to bring a Sense your Reef Tank</p>
     </div>

     <hr>

<%= render :partial => 'featured_tank' , :reef_tank => @reef_tank %>

<!--  <%= debug(@demos) if Rails.env.development? %> -->
<!--  <%= debug(@reef_tank) if Rails.env.development? %> -->