<%= simple_form_for @livestock_import, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                livestock_imports_path, :class => 'btn' %>
  </div>
<% end %>
