<% @current_status = @reef_tank.watchers.order("created_at").first %>

<table class="table table-striped">
  <thead>
<tr style="border-top: 0px solid #eee; padding-top: 5px; margin-top: 5px">
	
	<strong></strong>
	
	<div class="fancy-date">
		Last Updated:
		<% if (@current_status != nil) then %>
			 <%= time_ago_in_words(@current_status.created_at) %>  ago  
		<% else %>
		<% end %>	
	 </div>	

	 </td>

	</tr>
	
	
	<tr>
  <td class="fancy-date ">
	
	
  <div class="fancy-weekday, fancy-date ">
	
 Temp
</div>
<div class="fancy-day">
  	<% if (@current_status != nil) then %>
	 <%= number_with_precision(@current_status.temp, :precision => 1)   %>°f
	<% else %>
	<% end %>
       
 </div>
 </td>

</tr>
                             

</thead>
</table>
 
 
 
   
 