<% @current_status = @reef_tank.watchers.order("created_at").first %>

<table class="table table-striped">
  <thead>
<tr style="border-top: 1px solid #eee; padding-top: 5px; margin-top: 5px">
  <td class="fancy-date ">
  <div class="fancy-weekday">
	
 Temp
</div>
<div class="fancy-day">
  	<% if (@current_status != nil) then %>
	  <%= @current_status.temp %>
	<% else %>
	<% end %>
       
 </div>
 </td>
<td class="fancy-date ">
	Last Updated:
	<% if (@current_status != nil) then %>
		 <%= time_ago_in_words(@current_status.created_at) %>  ago  
	<% else %>
	<% end %>
</td>
     </tr>                              

</thead>
</table>
 
 
 
   
 