<%- model_class = ReefTank -%>
<div class="page-header">
  <h1><%=t '.title', :default => [:'helpers.titles.new', 'New %{model}'], :model => model_class.model_name.human.titleize %></h1>
</div>
<%= render :partial => 'form' %>
<%= debug @reef_tanks  if Rails.env.development?%>
<%= debug(params) if Rails.env.development? %>