 <div class="picture">
  <% if picture.image_processed? %>
    <%= link_to image_tag(picture.picture_image_url(:thumb)), picture %>
  <% else %>
    <em>Processing...</em>
  <% end %>
  <div class="name"><%= picture.name %></div>
  <div class="actions">
   <%= link_to "edit", edit_picture_path(picture) %> |
    <%= link_to "remove", picture, :confirm => 'Are you sure?', :method => :delete %>
  </div>
</div>