<div class="form-actions">
  <h2>New Picture Setup</h2> <h4>Step 1</h4> 
 
	
<%= direct_upload_form_for @uploader do |f| %>
  <p><%= f.file_field :picture_image %></p>
  <p><%= f.submit "Upload Picture", :class => "btn btn-success btn-flat" %></p>
<% end %>


</div>

 