<div id="footer">
      <div class="container">
	
	 
      <p class="text-muted credit">&copy; ReefSense <%= DateTime.now.strftime("%Y") %>
</p>
	<% if user_signed_in? %>
	    <% if current_user.has_role? :admin %>
	      <li>
	      <%= link_to 'Admin', users_path %>
	      </li>
	
		 <li>
	      <%= link_to 'Demo Setup', demos_path %>
	      </li>
	    <% end %>

	  <% end %>

      </div>
    </div>


 
